.QuizList {
  display: flex;
  justify-content: center;
  /*//flex-direction: column;*/
  padding-top: 100px;
  width: 100%;
  flex-grow: 1;
  background: linear-gradient(90deg, #fd8355 0%, #f0576c 37%, #f79cbd 100%);

  h2 {
    color: #fff;
  }

  div {
    text-align: center;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin-bottom: 10px;

      a {
        text-decoration: none;
        color: #fff;

          &:hover {
              color: red;
          }
      }


    }
  }
}
